.BreakdownTable {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  justify-content: center;
  align-items: center;
}

.BreakdownTable table, th, td{
  border: 0px ;
  background-color: white;
}


h2{
  display: inline-block;
}

